* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
    position: relative;
}

.promo {
    height: 800px;
    background: url('../img/bg_top.png') center center/cover no-repeat;
    padding: 38px 0 61px 0;
}

.logo .logo_img {
    display: block;
    margin: 0 auto;
}

.logo .logo_text {
    color: #FFFFFF;
    font-family: Roboto;
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 9.5px;
}

h1 {
    margin-top: 53px;
}

.title {
    font-weight: 900;
    font-size: 41px;
    text-align: center;
    text-transform: uppercase;
    color: #F9BF3B;
}

.simple .title_big {
    margin-top: 20.5px;
    font-family: Roboto;
    font-weight: 900;
    font-size: 80px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_text {
    font-weight: 300;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    padding: 0 13px;
    margin-top: 22.5px;
}

h2.title {
    margin-top: 20px;
}

.promo .promo_text span {
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    text-align: center;
    color: #F9BF3B;
    text-transform: uppercase;
}

.promo .promo_btn, .present .present_btn {
    display: block;
    margin: 0 auto;
    margin-top: 72px;
    width: 313px;
    height: 72px;
    background: linear-gradient(0deg, #2798B9 0%, #3AB6DA 100%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    cursor: pointer;
    outline: none;
}

.more {
    margin-top: 72px;
}

.more .more_text {
    font-style: normal;
    font-weight: 200;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.more .more_img {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
}

.waiting {
    min-height: 657px;
    background: #EFEFEF;
    padding: 88px 0 75px 0;
}

.waiting .waiting_header, .finish .finish_header, .end .end_header {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #252525;
}

.finish .finish_header {
    color:#FFFFFF;
}

.waiting .waiting_divider, .finish .finish_divider {
    display: block;
    width: 220px;
    height: 7px;
    left: 851px;
    top: 129px;
    background: #F9BF3B;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader, .end .end_content {
    font-size: 23px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 18px;
}

.waiting .waiting_wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.waiting .waiting_wrapper .waiting_item {
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img {
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_deckr {
    margin-top: 33px;
    color: #4a4a4a;
    font-style: 15px;
    font-weight: 300;
    line-height: 21px;
}

.optimization {
    min-height: 550px;
    padding: 102px 0 107px 0;
}

.optimization .optimization_header, .end .end_descr {
    margin-left: 391px;
    font-weight: 900;
    font-size: 29px;
    text-transform: uppercase;
    color: #299CBD;
}

.optimization .optimization_text {
    margin-top: 25px;
    margin-left: 391px;
    font-weight: 300;
    font-size: 17px;
    color: #4A4A4A;
}

.optimization .optimization_text span {
    font-weight: bold;
}

.optimization .optimization_img {
    position: absolute;
    top: -33px;
    left: -240px;
    z-index: -1;
}

.finish {
    min-height: 447px;
    padding: 86px 0 79px 0;
    background: url('../img/bg_medium.png') center center/cover no-repeat;

}

.finish .finish_wrapper {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.finish .finish_wrapper .finish_item {
    width: 204px;
}

.finish .finish_wrapper .finish_item .finish_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 115px;
    height: 115px;
    background: #B4E2FF;
    border-radius: 100%;
    margin: 0 auto;
}

.finish .finish_wrapper .finish_item .finish_descr {
    margin-top: 25px;
    text-align: center;
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    color: #EFEFEF;
}

.present {
    display: flex;
    justify-content: center;
    height: 631px;
    background: #EFEFEF;
}

.present .present_gift {
    display: flex;
    justify-content: center;
    margin-top: 88px;
}

.present .present_descr {
    margin-top: 45px;
    font-size: 30px;
    line-height: 43px;
    text-align: center;
    color: #252525;
}

.end {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 52px 0;
}

.end .end_img {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.end .end_descr {
    margin-top: 36px;
    margin-left: 0px;
    text-align: center;
}

.end .end_header {
    margin-top: 36px;
}

.footer {
    height: 169px;
    background: #1A1A1A;
}

.footer .footer_item {
    text-align: center;
    padding: 67px 0 0 0;
    color: #888888;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    justify-content: center;
}

.footer .footer_item a {
    text-decoration-line: underline;
    color: #888888;
}

.footer .footer_item a:visited {
    color: #888888;
}

.footer .footer_line {
    margin: 0 3px 0 3px;
}

.footer .call_us {
    text-align: center;
    color: #888888;
    font-weight: 300;
    font-size: 15px;
}
